* {
    margin: 0px;
    padding: 0px;
    color: #ffff;
    font-family: 'Source Code Pro', monospace;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
  }
  
  html, body {
    background: #18191C;
    width: 50%;
    height: 50%;
    margin: 5rem;
    bottom: 2rem;
    right: 2rem;
  }
  
  html {
    display: table;
  }
  
  body {
    display: table-cell;
    vertical-align: middle;
  }

   html, meta {
    border: none;
    padding: 5px;
    font-size: 20px;
    color: blue;
    border: none;
  }

  .button
  {
      font-size: 15px;
      color:rgb(0, 0, 0);
  }

  .container { 
    height: unset;
    position: relative;
    border: none; 
  }
  
  .center {
    margin: -5px;
    position: relative;
    top: 0%;
    left: 120%;
    text-align: center;
  }